# Notes:
#     * By default, npm executes some package specific scripts like 'postinstall' which can be exploited if a package is
#       compromised. To mitigate that risk, here we disable script execution during package installation
#     * In case of normal npm install, npm may not show the output of these scripts. Seemingly because npm shows only
#       `stderr` output of these scripts. To see the output, we can run `npm install` with the --foreground-scripts flag
#       For example:
#           $ npm cache clean -f ; rm -rf node_modules/ ; npm ci --foreground-scripts --ignore-scripts=false
#             OR
#           $ rm -rf node_modules/ ; npm ci --foreground-scripts --ignore-scripts=false
#             # Note: Some scripts may still not execute & npm cache clean may be needed (as shown in previous example)
#             OR
#           $ rm -rf node_modules/ ; npm install --foreground-scripts --ignore-scripts=false
#             OR
#           $ rm -rf node_modules/ ; npm install --verbose --ignore-scripts=false
#             # Note: npm may show just script execution status & not show the full output of these scripts, seemingly
#             # because npm shows only `stderr` output of these scripts
#     * Not using `ignore-scripts=true` for now because with the current way `npm` behaves, the integration with
#       @lavamoat/allow-scripts is not working seamlessly from DX perspective because it disables the npm scripts for
#       the main project as well (and not just the npm dependencies). For now, we may manually use
#       `node --run install:safe` to install the dependencies safely.
# ignore-scripts=true

# Skip package versions published less than 3 days ago to mitigate supply chain attacks (requires npm >= 11.10.0)
min-release-age=3
